/****** Main Styling ******/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #222;
  background-color: #fafafa;
  line-height: 1.4em;
  min-height: 100vh;
}

main {
  padding: 40px 0;
}

main .logo {
  max-height: 50px;
  margin-right: 20px;
}

hr {
  margin: 25px;
}

h3 {
  margin-top: 30px;
}

h5 {
  margin-top: 20px;
}

a {
  color: #2574a9;
}

form {
  margin: 0 10px 25px 10px;
  padding: 15px;
  color: #fff;
  background-color: #333;
  width: 260px;
  height: 100%;
  border-radius: 5px;
}

form h3 {
  margin-top: 0;
}

input,
select,
textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

.btn-success {
  width: 100%;
  background-color: #25ae1b;
  border: none;
}

code {
  font-family: monospace;
  font-size: 1em;
  padding: 2px;
  color: black;
  background-color: #fff;
  max-width: 100%;
}

code.block {
  display: block;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow-x: auto;
}

code ul.indent {
  padding-left: 20px;
  list-style-type: none;
  margin-bottom: 0;
}

.footer {
  margin-top: 40px;
}

/****** NavBar Styles ******/

.navbar.navbar-dark {
  background-color: #333;
}

.navbar .nav-link {
  color: rgba(255, 255, 255, 0.8);
}

.navbar .nav-link:hover {
  color: rgba(255, 255, 255, 1);
}

/****** Sudoku Container Styles ******/

#sudoku-grid-container {
  display: flex;
  flex-direction: row;
  --grid-cell-size: 3em;
  padding: 0 var(--grid-cell-size) 0 0;
}

#sudoku-grid {
  text-align: center;
  display: inline;
}

.grid {
  border: 3px solid;
  border-spacing: 0;
}

td {
  padding: 0;
  border: 1px solid;
  border-spacing: 0;
  width: var(--grid-cell-size);
  height: var(--grid-cell-size);
}

.yAxisLegend {
  margin-top: 2em;
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  text-align: center;
  font-weight: bold;
}

.yAxisLegend tr td {
  border: 1px solid rgba(0, 0, 0, 0);
  width: var(--grid-cell-size);
  height: var(--grid-cell-size);
}

.xAxisLegend {
  border: none;
  border-spacing: 0;
  font-weight: bold;
}

.xAxisLegend tr td {
  border: 1px solid rgba(0, 0, 0, 0);
  width: var(--grid-cell-size);
  height: 2em;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 0;
}

.xAxisLegend tr td:nth-of-type(3n) {
  border-right: 3px solid rgba(0, 0, 0, 0);
}

.sudoku-input {
  margin: 0;
  padding: 0.3em;
  display: inline;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
}

.sudoku-input.error,
#text-input.error {
  color: red;
}

/** Remove number arrows from sudoku input grid **/
/* Chrome, Safari, Edge, Opera */
input.sudoku-input::-webkit-outer-spin-button,
input.sudoku-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.sudoku-input[type='number'] {
  -moz-appearance: textfield;
}

td.C1,
td.C2,
td.C3,
td.C4,
td.C5,
td.C6,
td.C7,
td.C8,
td.C9,
td.F1,
td.F2,
td.F3,
td.F4,
td.F5,
td.F6,
td.F7,
td.F8,
td.F9 {
  border-bottom: 3px solid;
}

td.A3,
td.B3,
td.C3,
td.D3,
td.E3,
td.F3,
td.G3,
td.H3,
td.I3,
td.A6,
td.B6,
td.C6,
td.D6,
td.E6,
td.F6,
td.G6,
td.H6,
td.I6 {
  border-right: 3px solid;
}

/****** Random Sudoku Generator Styles ******/

.generator-input-container {
  margin-top: 10px;
  text-align: center;
}

.generator-input-container p {
  margin-bottom: 0;
}

#num-clues {
  display: inline;
  width: 50px;
}

#random-sudoku-btn {
  width: 100px;
}

/****** Form Container Styles ******/

#form-container {
  margin: 30px 20px 0 20px;
}

#text-input {
  font-size: 16px;
}

#puzzle-str-err {
  margin: 0 10px;
  max-width: 260px;
  text-align: center;
  overflow-x: auto;
}

#response-display {
  width: 100%;
}

#response-display code {
  display: inline-block;
  white-space: nowrap;
  max-width: 300px;
  overflow-x: auto;
}

.error-message {
  color: red;
}
